*{
    margin: 0;
    padding: 0;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "Poppins", sans-serif;
    
}
body{
<<<<<<< HEAD:static/assets/css/style.css
    background-color:#D8DAD7;
    /* font-weight: bold; */
  
=======
    /* background-color:#D8DAD7; */
    /* font-weight: bold; */
    background-image: url('/static/assets/images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
   
>>>>>>> 81463b49cf53674df4d4b005efe3e38099d1f4fa:myapp/static/assets/css/style.css
}

.namesection{
    margin-left: 43vw;
    position: absolute;
    top: 200px;
    
}
#oneprofile{
    width: 8vw;
    height: 15vh;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px pink;
}
.namesection h2{
    color: rgb(201, 22, 156);
    margin-left: -50px;
}
.namesection #designation{
    margin-left: -120px;
}
h1{
    text-decoration: underline;
    
}
.about-ul li{
    list-style: none;
    margin-top: 20px;
}
p{
    text-align: justify;
}

.footer-links{
    list-style: none;
    color: rgb(180, 141, 171);
} 
.footer-links a{
    text-decoration: none;
    color:rgb(180, 141, 171);
    
}   
.favicon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 4px purple; 
}
.btn-purple{
    background-color: purple;
    color: white;
    border-radius: 20px;
    animation: blink 2s ease-in-out  0s infinite normal ;
}
@keyframes blink{
    from{
        background-color: purple;
        
    }
    to{
        background-color: #ec5439;
        
    }
}
.btn-purple:hover{
    background-color: black;
    color: white;
}
.sub-pink{
    color: palevioletred;
}
.sub-blue{
color: rgb(117, 117, 194);
}
.sub-purple{
color: rgb(179, 126, 179);
}
.img-size{
    height: 80vh;
   
}
.icon-bg-fill{
    background-color: rgb(182, 138, 182);
    border-radius: 30%;
    box-sizing: border-box;
}
.card-border-color{
    border-color:rgb(182, 138, 182);
}
.about-para{
    text-indent: 100px;
    text-align: justify;
}
.profile-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.wa-icon{
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    position: fixed;
    right:0;
    bottom: 0;
}
.nav-link{
    font-size: 20px;
}
.nav-link:hover{
    text-decoration: underline;

}
.main-div{
    width: 50px;
    height: 30px;
    color: #FF4133;

}

.sub-div{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 position: relative;
 top:-60px;
 left: -25px;
 
 animation: spinanimate 2s ease-in-out 0s infinite normal;
}

@keyframes spinanimate{
    from{
transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#spin1{
    border: 10px solid #FF4133;
    border-top: 10px solid #FFA099;
}
#spin2{
    border: 10px solid #7BFF47 ;
    border-top: 10px solid #B0FF92;
}
#spin3{
    border: 10px solid #9C33FF;
    border-top: 10px solid #CE99FF;
}
#spin4{
    border: 10px solid #FF8360;
    border-top: 10px solid #FFAF99;
}
#pr-html{
    animation: html 2s ease-in-out infinite normal;
}
@keyframes html {
    from{
        width: 0%;
    }
    to{
        width: 90%;
    }
}
#pr-css{
    animation: css 2s ease-in-out infinite normal;
}
@keyframes css {
    from{
        width: 0%;
    }
    to{
        width: 85%;
    }
}
#pr-js{
    animation: js 2s ease-in-out infinite normal;
}
@keyframes js {
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
#pr-python{
    animation: python 2s ease-in-out infinite normal;
}
@keyframes python {
    from{
        width: 0%;
    }
    to{
        width: 75%;
    }
}

#pr-django{
    animation: django 2s ease-in-out infinite  normal;
}
@keyframes django {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}
#pr-sql{
    animation: sql 2s ease-in-out infinite normal;
}
@keyframes sql {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}
#pr-bootstrap{
    animation: bootstrap 2s ease-in-out infinite normal;
}
@keyframes bootstrap {
    from{
        width: 0%;
    }
    to{
        width: 95%;
    }
}