
{% load static %}
{% block 'main' %}
<div class="container" id="service">
    <div class="row mb-3 mt-5" >
        <h1 class="text-center text-white "><Strong>services</Strong></h1>
        <div class="col-md-4">
            <div class="card card-border-color" style="width: 18rem;">
                <h3 class="text-center mt-3"><i class="bi bi-brush-fill icon-bg-fill"></i></h3>
                <h3 class="text-center">Web Design</h3>
                <div class="card-body">
                  <p class="card-text"> Web designing is the process of planning, conceptualizing, and implementing the plan for
                    designing a website in a way that is functional and offers a good user experience. User
                    experience is central to the web designing process. Websites have an array of elements
                    presented in ways that make them easy to navigate.</p>
                </div>
              </div>
        </div>
        
            <div class="col-md-4">
                <div class="card card-border-color" style="width: 18rem;">
                    <h3 class="text-center mt-3"><i class="bi bi-code icon-bg-fill"></i></h3>
                    <h3 class="text-center">Web Developement</h3>
                    <div class="card-body">
                      <p class="card-text">Web development refers to the creating, building, and maintaining of websites. It includes
                        aspects such as web design, web publishing, web programming, and database management. It is
                        the creation of an application that works over the internet. It is the portion of
                        software that does not come in direct contact with users.</p>
                    </div>
                  </div>
            </div>
            

            <div class="col-md-4">
                <div class="card card-border-color" style="width: 18rem;">
                    <h3 class="text-center mt-3"><i class="bi bi-bootstrap icon-bg-fill"></i></h3>
                    <h3 class="text-center">Bootstrap</h3>
                    <div class="card-body">
                      <p class="card-text">  Bootstrap (formerly Twitter Bootstrap) is a free and open-source CSS framework directed at
                        responsive, mobile-first front-end web development. It contains HTML, CSS and (optionally)
                        JavaScript-based design templates for typography, forms, buttons, navigation, and other
                        interface components.</p>
                    </div>
                  </div>
            </div>
        
        
        </div><!--row1 end-->

        <div class="row mb-3 mt-5" >
            
            <div class="col-md-4">
                <div class="card card-border-color" style="width: 18rem;">
                    <h3 class="text-center mt-3"><i class="bi bi-filetype-py icon-bg-fill"></i></h3>
                    <h3 class="text-center">Python</h3>
                    <div class="card-body">
                      <p class="card-text"> Web designing is the process of planning, conceptualizing, and implementing the plan for
                        designing a website in a way that is functional and offers a good user experience. User
                        experience is central to the web designing process. Websites have an array of elements
                        presented in ways that make them easy to navigate.</p>
                    </div>
                  </div>
            </div>
           
                <div class="col-md-4">
                    <div class="card card-border-color" style="width: 18rem;">
                        <h3 class="text-center mt-3"><i class="bi bi-code-slash icon-bg-fill"></i></h3>
                        <h3 class="text-center">Django</h3>
                        <div class="card-body">
                          <p class="card-text">    Django is a Python framework that makes it easier to create web sites using Python.
                               Django takes care of the difficult stuff so that you can concentrate on building your web
                            applications.
                         Django emphasizes reusability of components, also referred to as DRY  and comes with ready-to-use features like login system, database connection.</p>
                        </div>
                      </div>
                </div>
               
    
                <div class="col-md-4">
                    <div class="card card-border-color" style="width: 18rem;">
                        <h3 class="text-center mt-3"><i class="bi bi-database icon-bg-fill"></i></h3>
                        <h3 class="text-center">MySql</h3>
                        <div class="card-body">
                          <p class="card-text">  MySQL is an open-source, Relational Database Management System that stores data in a
                            structured format using rows and columns. MySQL stands out as a powerful and versatile open-source Relational Database Management
                            System. Its reliability, scalability, performance, and compatibility make it a preferred
                            choice across various industries.</p>
                        </div>
                      </div>
                </div>
            
            
            </div>
    </div>
{% endblock 'main' %}
