{% block 'main' %}
<div class="container">
<div class="row ms-5">
    <div class="col-md-3 mt-4">
        <div class="main-div" >
            <strong>Design</strong>
          <div class="sub-div" id="spin1" >
            
          </div>
    </div>
</div>
<div class="col-md-3 mt-4">
    <div class="main-div">
        <strong><span style="font-size: 12px;">JavaScript</span></strong>
      <div class="sub-div" id="spin2">
        
      </div>
</div>
</div>
<div class="col-md-3 mt-4">
    <div class="main-div" >
        <strong>Python</strong>
      <div class="sub-div" id="spin3">
        
      </div>
</div>
</div>
<div class="col-md-3 mt-4">
    <div class="main-div" >
        <strong>Django</strong>
      <div class="sub-div" id="spin4">
        
      </div>
</div>
</div>
</div>
{% endblock 'main' %}